[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[packages]
"psycopg2-binary" = "*"
django-heroku = "*"
gunicorn = "*"
pillow = "*"
django-storages = "*"
boto3 = "*"
faker = "*"
django-select2 = "*"
numpy = "*"
factory-boy = "*"
django-rest-framework = "*"
pre-commit = "*"
black = "*"
flake8 = "*"

[dev-packages]
