{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Profile page</title>
        <link rel="stylesheet" href="{% static 'design/css/main.css' %}">
    </head>
    <body class="body">
        <header class="header">
            <div class="logo">
                <a href="#0">
                    <img src="{% static 'design/img/logo.png' %}" alt="Correspondence Legal Group logo">
                </a>
            </div>
            <div class="header__control">
                <div class="header__search">
                    <form>
                        <div class="search search--left search--big">
                            <button type="submit" class="search__icon"><i class="fas fa-search"></i></button>
                            <input type="text" class="search__input" placeholder="Search Attorney">
                        </div>
                    </form>
                </div>
                <nav class="main-nav">
                    <ul class="main-sections">
                        <li>
                            <a href="#0">
                                Transactions
                            </a>
                        </li>
                        <li>
                            <a href="#0">
                                Verification
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header__profile">
                <ul class="actions">
                    <li>
                        <a href="#0">
                            <div class="relative">
                                <i class="fas fa-bolt"></i>
                                <span class="icon-counter">32</span>
                            </div>

                        </a>
                    </li>
                    <li>
                        <a href="#0">
                            <div class="relative">
                                <i class="fas fa-envelope"></i>
                                <span class="icon-counter icon-counter--bubble">12</span>
                            </div>

                        </a>
                    </li>
                </ul>
                <a href="#0">
                    <img src="{% static 'design/img/avatar-small.jpg' %}" alt="" class="avatar">
                </a>
            </div>
        </header>

        <div class="hero">
            <div class="hero__img"></div>
            <div class="hero__avatar">
                <img src="{% static 'design/img/avatar.jpg' %}" alt="">
            </div>
            <div class="hero__names">
                <h1 class="hero__name">{{ profile.full_name }}</h1>
                <h2 class="hero__title">{{ profile.browsing_headline }}</h2>
            </div>

            <div class="hero__location">
                <i class="fas fa-map-marker-alt"></i><span class="muted">Arizona, USA</span>
            </div>
            <div class="hero__payments-container">
                <div class="c100 p80">
                    <span>80%</span>
                    <div class="slice">
                        <div class="bar"></div>
                        <div class="fill"></div>
                    </div>
                </div>
                <div class="hero__payments">
                        <span>
                            <span class="muted">Total verified: </span>$1000
                        </span>
                    <span>
                            <span class="muted">Total unverified: </span>$200
                        </span>
                </div>
            </div>
            <div class="hero__actions-container">
                <div class="hero__actions">
                    <a href="#0" class="btn">Add correspondence</a>
                    <a href="#0" class="btn btn--outline">Contact</a>
                </div>
            </div>
            <span class="hero__text muted">If you contact this user, we will show you his contact details</span>
        </div>

        <nav class="sidebar">
            <ul class="sidebar-list">
                <li class="sidebar-item">
                    <a href="#0">
                        <i class="fas fa-fw fa-info"></i> About
                    </a>
                </li>
                <li class="sidebar-item" data-active="true">
                    <a href="#0">
                        <i class="fas fa-fw fa-list"></i> Professional details
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#0">
                        <i class="fas fa-fw fa-address-card"></i> Contact
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#0">
                        <i class="fas fa-fw fa-rss"></i> Social Media
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#0">
                        <i class="fas fa-fw fa-map-marker-alt"></i> Physical locations
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#0">
                        <i class="fas fa-fw fa-university"></i> Educations
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#0">
                        <i class="fas fa-fw fa-suitcase"></i> Work experience
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#0">
                        <i class="fas fa-fw fa-user-tie"></i> Professional Associations
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#0">
                        <i class="fas fa-fw fa-award"></i> Awards
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#0">
                        <i class="fas fa-fw fa-share-alt"></i> Correspondences
                    </a>
                </li>
            </ul>
            <p>
                If you contact this user, we will show you his contact details
            </p>
        </nav>

        <main class="profile">
            <div class="container">
                {% include 'profiles/includes/about.html' %}

                {% include 'profiles/includes/details.html' %}

                {% include 'profiles/includes/contacts.html' %}

                {% include 'profiles/includes/socials.html' %}

                {% include 'profiles/includes/locations.html' %}

                {% include 'profiles/includes/educations.html' %}

                {% include 'profiles/includes/work_experiences.html' %}

                {% include 'profiles/includes/associations.html' %}

                {% include 'profiles/includes/awards.html' %}

                {% include 'profiles/includes/correspondences.html' %}
            </div>
        </main>

        <footer class="footer">
            <div class="footer__content">
                <div class="footer__intro">
                    <img src="img/logo-white.png" alt="Correspondence Legal Group logo">
                    <p>
                        Have any questions? Want to know more? We’re friendly and love helping, so just say hi. Not only
                        do we use a modern tech solution to an old problem… but we’re friendly.
                    </p>
                </div>
                <div class="footer__recent">
                    <h3 class="footer__header">Recent posts</h3>
                    <ul>
                        <li class="footer-list__item"><a href="#0">Some Useful Links for You to Get Started</a></li>
                        <li class="footer-list__item"><a href="#0">When is it the right time to sell your company?</a>
                        </li>
                        <li class="footer-list__item"><a href="#0">Personal debt or company debt we explore your
                            options</a></li>
                    </ul>
                </div>
                <div class="footer__menu">
                    <h3 class="footer__header">Menu</h3>
                    <ul class="footer-list">
                        <li class="footer-list__item"><a href="#0">Home</a></li>
                        <li class="footer-list__item"><a href="#0">About</a></li>
                        <li class="footer-list__item"><a href="#0">Pricing</a></li>
                        <li class="footer-list__item"><a href="#0">Blog</a></li>
                        <li class="footer-list__item"><a href="#0">Signup</a></li>
                        <li class="footer-list__item"><a href="#0">Login</a></li>
                        <li class="footer-list__item"><a href="#0">Contact</a></li>
                    </ul>
                </div>
                <div class="footer__about">
                    <h3 class="footer__header">ABOUT</h3>
                    <p>Have you hired a correspondent whose business card you got at a conference? Whom a friend of a
                        friend recommended? Whom you found on, golly-gee, Google? Look no further. Working hand in hand
                        with lawyers, using modern tech, AI, and machine learning, we’ve created the right platform to
                        find the right correspondent
                        for you.
                    </p>
                </div>
            </div>
            <div class="footer__copyright">
                © 2019 Correspondence.Legal – <a href="#0">Privacy, Terms & Conditions</a> – <a href="#0">Resources</a>
                – <a href="#0">Sitemap</a>
            </div>
        </footer>
    </body>
</html>