{% extends 'base.html' %}

{% load static %}

{% block content %}
    <main class="profile">
        <div class="container">
            <p>
                Congratulations! You have completed signup and have a premium plan for free for the first 3 months.
            </p>

            <p>
                Invite your network with transactions, using their email address and optional screenshots of wires
            </p>

            <p>
                Have some informational text about why these are important and valuable for you
            </p>
        </div>
    </main>
{% endblock %}