{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block body-class %}profile-page{% endblock %}

{% block content %}
    <div class="page-header header-filter" data-parallax="true"
         style="background-image: url('https://demos.creative-tim.com/material-kit/assets/img/city-profile.jpg');"></div>
    <div class="main main-raised">
        <div class="profile-content">
            <div class="container pb-3">
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="profile">
                            <div class="avatar">
                                <form action="" method="POST" enctype="multipart/form-data" class="photo-form">
                                    {% csrf_token %}
                                    <input type="file" name="photo-input" class="photo-input">
                                </form>
                                <img src="{{selected_user.profile.photo.url}}" alt="Circle Image"
                                     class="img-raised rounded-circle img-fluid photo-view">
                            </div>
                            {% if not form %}
                            <div class="name">
                                <h3 class="title">{{ selected_user.first_name }} {{ selected_user.last_name }}</h3>

                                {% if selected_user.profile.headline %}
                                    <h6>{{ selected_user.profile.headline }}</h6>
                                {% endif %}

                                {% if selected_user.profile.website %}
                                    <a href="{{ selected_user.profile.website }}"
                                       class="btn btn-just-icon btn-link">
                                        <i class="fas fa-globe"></i>
                                    </a>
                                {% endif %}

                                {% if selected_user.profile.twitter %}
                                    <a href="https://twitter.com/{{ selected_user.profile.twitter }}"
                                       class="btn btn-just-icon btn-link">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                {% endif %}

                                {% if selected_user.profile.linkedin %}
                                    <a href="https://www.linkedin.com/in/{{ selected_user.profile.linkedin }}"
                                       class="btn btn-just-icon btn-link">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                {% endif %}

                                {% if selected_user.profile.facebook %}
                                    <a href="https://www.facebook.com/{{ selected_user.profile.facebook }}"
                                       class="btn btn-just-icon btn-link">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                {% endif %}
                            </div>
                            <div class="description text-center">
                                <p>{{ selected_user.profile.bio }}</p>
                                <strong>Jurisdiction:</strong> {{ selected_user.profile.jurisdiction|default:'Not selected' }}
                            </div>
                            {% endif %}
                            <!--Edit Mode for Own Profile-->
                            {% if form %}
                            <form id="personal-details-form" class="form-block" action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group jurisdiction-field">
                                            {{ form.jurisdiction.label }}
                                            {% render_field form.jurisdiction class="form-control" place_holder=form.jurisdiction.value %}
                                            {% for error in form.jurisdiction.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form.headline.label }}
                                            {% render_field form.headline class="form-control" place_holder=form.headline.value %}
                                            {% for error in form.headline.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form.website.label }}
                                            {% render_field form.website class="form-control" place_holder=form.website.value %}
                                            {% for error in form.website.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form.twitter.label }}
                                            {% render_field form.twitter class="form-control" place_holder=form.twitter.value %}
                                            {% for error in form.twitter.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form.linkedin.label }}
                                            {% render_field form.linkedin class="form-control" place_holder=form.linkedin.value %}
                                            {% for error in form.linkedin.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ form.facebook.label }}
                                            {% render_field form.facebook class="form-control" place_holder=form.facebook.value %}
                                            {% for error in form.facebook.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            {{ form.bio.label }}
                                            {% render_field form.bio class="form-control" rows="5" place_holder=form.bio.value %}
                                            {% for error in form.bio.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <input class="btn btn-primary" type="submit" title="Submit">
                            </form>
                            {% endif %}
                            <!--END Edit Field for own profile-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}