{% extends 'base.html' %}

{% block content %}

    <div class="page-header header-filter" data-parallax="true"
         style="background-image: url('https://demos.creative-tim.com/material-kit/assets/img/city-profile.jpg');"></div>
    <div class="main main-raised">
        <div class="profile-content">
            <div class="container pb-3">
                {% for user in object_list %}
                    {{ user }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}