{% extends 'old_base.html' %}
{% load static %}

{% block body-class %}login-page{% endblock %}

{% block content %}
    <div class="page-header header-filter page-header--auth">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                    <div class="card card-login">
                        <form class="form" method="post">
                            {% csrf_token %}

                            <div class="card-header card-header-primary text-center">
                                <h4 class="card-title">Registration</h4>
                            </div>
                            <div class="card-body">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="far fa-address-book"></i>
                                    </span>
                                    </div>
                                    <input type="text" name="full_name" class="form-control" placeholder="Full Name...">
                                </div>
                                {{ form.full_name.errors }}
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="far fa-smile"></i>
                                    </span>
                                    </div>
                                    <input type="text" name="email" class="form-control" placeholder="Email...">
                                </div>
                                {{ form.email.errors }}
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="fas fa-user-lock"></i>
                                    </span>
                                    </div>
                                    <input type="password" name="password1" class="form-control"
                                           placeholder="Password...">
                                </div>
                                {{ form.password1.errors }}
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="fas fa-user-lock"></i>
                                    </span>
                                    </div>
                                    <input type="password" name="password2" class="form-control"
                                           placeholder="Repeat password...">
                                </div>
                                {{ form.password2.errors }}
                                {{ form.non_field_errors }}
                            </div>
                            <div class="footer text-center">
                                <button type="submit" class="btn btn-primary btn-link btn-wd btn-lg">Register
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}