{% extends 'old_base.html' %}
{% load static %}

{% block body-class %}login-page{% endblock %}

{% block content %}
    <div class="page-header header-filter page-header--auth">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                    <div class="card card-login">
                        <form class="form" method="post">
                            {% csrf_token %}

                            <div class="card-header card-header-primary text-center">
                                <h4 class="card-title">Registration</h4>
                            </div>
                            <div class="card-body">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="far fa-address-book"></i>
                                    </span>
                                    </div>
                                    {{ form.full_name }}
                                </div>
                                {{ form.full_name.errors }}
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="far fa-smile"></i>
                                    </span>
                                    </div>
                                    {{ form.email }}
                                </div>
                                {{ form.email.errors }}
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="fas fa-user-lock"></i>
                                    </span>
                                    </div>
                                    {{ form.password1 }}
                                </div>
                                {{ form.password1.errors }}
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="fas fa-user-lock"></i>
                                    </span>
                                    </div>
                                    {{ form.password2 }}
                                </div>
                                {{ form.password2.errors }}
                                <div class="form-check">
                                    <label class="form-check-label">
                                        {{ form.agree_tos }}
                                        {{ form.agree_tos.label }}
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                          </span>
                                    </label>
                                </div>
                                {{ form.non_field_errors }}
                            </div>
                            <div class="footer text-center">
                                <button type="submit" class="btn btn-primary btn-link btn-wd btn-lg">Register
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}