{% extends 'old_base.html' %}
{% load static %}

{% block body-class %}profile-page{% endblock %}

{% block content %}
    <div class="page-header header-filter" data-parallax="true"></div>
    <div class="main main-raised">
        <div class="transaction-content">
            <div class="container pb-3">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <div class="transaction">
                            <div class="row mb-5">
                                <h3>Confirm Transaction</h3>
                            </div>
                            <div class="form-group row card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <p>Transaction with: {{ transaction.created_by.full_name }}</p>
                                            <p>Amount Direction:
                                                {% if transaction.is_requester_principal %}
                                                They paid me
                                                {% else %}
                                                I paid them
                                                {% endif %}
                                            </p>
                                            <p>Amount: {{ transaction.amount }} {{ transaction.currency }}</p>
                                            <p>On Date: {{ transaction.date }}</p>
                                        </div>
                                        <div class="col-md-3">
                                            <img class="d-block mx-auto card--user__avatar" alt="{{ transaction.created_by.full_name }}"
                                                 src="{{ transaction.created_by.photo_url_or_default }}">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <p>Transaction proof:</p>
                                        <div class="proof-image-container">
                                            <img src="{{ transaction.proof_receipt.url }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form class="form-block transcation-form" action="" method="post"
                                  enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="confirm-transaction-fields">
                                    <input class="btn btn-primary" name="submit" type="submit" value="confirm">
                                    <input class="btn btn-primary deny-transaction" name="submit" type="submit" value="deny">
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}