<footer class="footer footer-default">
    <div class="container">
        <nav class="float-left">
            <ul>
                <li>
                    <a href="/resources">
                        Resources
                    </a>
                </li>
                <li>
                    <a href="/about-us">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="/privacy-terms-and-conditions">
                        Privacy, Terms & Conditions
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright float-right">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>
            correspondence.legal. We <i class="fa fa-heart"></i> Rule 7.2b.
        </div>
    </div>
</footer>
