<footer class="footer">
    <div class="footer__content">
        <div class="footer__intro">
            <img src="img/logo-white.png" alt="Correspondence Legal Group logo">
            <p>
                Have any questions? Want to know more? We’re friendly and love helping, so just say hi. Not only
                do we use a modern tech solution to an old problem… but we’re friendly.
            </p>
        </div>
        <div class="footer__recent">
            <h3 class="footer__header">Recent posts</h3>
            <ul>
                <li class="footer-list__item"><a href="#0">Some Useful Links for You to Get Started</a></li>
                <li class="footer-list__item"><a href="#0">When is it the right time to sell your company?</a>
                </li>
                <li class="footer-list__item"><a href="#0">Personal debt or company debt we explore your
                    options</a></li>
            </ul>
        </div>
        <div class="footer__menu">
            <h3 class="footer__header">Menu</h3>
            <ul class="footer-list">
                <li class="footer-list__item"><a href="#0">Home</a></li>
                <li class="footer-list__item"><a href="#0">About</a></li>
                <li class="footer-list__item"><a href="#0">Pricing</a></li>
                <li class="footer-list__item"><a href="#0">Blog</a></li>
                <li class="footer-list__item"><a href="#0">Signup</a></li>
                <li class="footer-list__item"><a href="#0">Login</a></li>
                <li class="footer-list__item"><a href="#0">Contact</a></li>
            </ul>
        </div>
        <div class="footer__about">
            <h3 class="footer__header">ABOUT</h3>
            <p>Have you hired a correspondent whose business card you got at a conference? Whom a friend of a
                friend recommended? Whom you found on, golly-gee, Google? Look no further. Working hand in hand
                with lawyers, using modern tech, AI, and machine learning, we’ve created the right platform to
                find the right correspondent
                for you.
            </p>
        </div>
    </div>
    <div class="footer__copyright">
        © 2019 Correspondence.Legal – <a href="#0">Privacy, Terms & Conditions</a> – <a href="#0">Resources</a>
        – <a href="#0">Sitemap</a>
    </div>
</footer>