.footer {
  grid-area: footer;
  color: $link-color;
}

.footer__content {
  background-color: #2b2c2f;
  display: flex;
  padding: 100px 64px 10px;
  margin: 0  -3rem;
}

.footer__copyright {
  background-color: #121316;
  padding: 56px 58px 49px;
}

.footer__intro, .footer__recent, .footer__menu, .footer__about {
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0 3rem;
}

.footer__intro {
  flex-basis: 310px;

  p {
    margin-top: 2rem;
    line-height: 1.6;
  }
}

.footer__recent {
  flex-basis: 350px;
}

.footer__about {
  flex-basis: 300px;
  p {
    margin-top: 1.2rem;
    line-height: 2.5;
  }
}

.footer__menu {
  flex-basis: 100px;
  margin-left: 0;
  margin-right: 0;
}

.footer__header {
  font-family: "Frank Ruhl Libre", serif;
  font-weight: 500;
  font-size: 1.125rem;
  color: #fff;
  text-transform: uppercase;
  margin: 0.5rem 0;
}

.footer-list__item {
  margin: 1.8rem 0;
}