.profile {
  padding: 39px 0;
  grid-area: main;
}

.profile-block {
  background-color: #fff;
  border: 1px solid $border-color;
  padding: 29px 45px;

  & + & {
    margin-top: 22px;
  }

  p {
    line-height: 2.2;
    margin: .6rem 0;
  }
}

.profile-block__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:not(:only-child) {
    padding-bottom: 19px;
    margin-bottom: 43px;
    border-bottom: 1px solid $border-color;
  }
}

.profile-block__title {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 1.5rem;
  margin: 10px 0;
}

.profile-block__main {
  padding-right: 150px;
}

.profile-block__row {
  display: flex;
  justify-content: space-between;
}