$roboto-font-path: '~roboto-fontface/fonts';
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

$container-width: 872px;

$border-color: #f0f0f0;

$primary: #102533;

$link-color: #969595;
$link-hover: #555454;