<section class="profile-block">
    <header class="profile-block__header">
        <h2 class="profile-block__title">Professional Associations</h2>
    </header>

    <h6 class="text-header">Association</h6>
    <ul class="list">
        <li class="list__item">
            <ul class="list list--condensed">
                <li class="list__item"><span class="muted">Name:</span> Kansas Bar Association</li>
                <li class="list__item"><span class="muted">Position:</span> Member</li>
                <li class="list__item"><span class="muted">Duration:</span> 2011 — Present (8 years)
                </li>
            </ul>
        </li>
    </ul>
</section>
