<section class="profile-block" id="profile-details">
    <header class="profile-block__header">
        <h2 class="profile-block__title">Professional Details</h2>
    </header>

    <div class="profile-block__main">
        {% if profile.law_type_tags %}
            <h6 class="text-header">Practice areas</h6>
            <ul class="tag-container">
                {% for law_type_tag in profile.law_type_tags %}
                    <li class="tag">{{ law_type_tag }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="profile-block__row">
            {% if profile.experience %}
                <div>
                    <h6 class="text-header">Years of Practice / Experience</h6>
                    {{ profile.experience }}
                </div>
            {% endif %}

            {% if profile.current_job %}
                <div>
                    <h6 class="text-header">Current Job / Affiliation / Law Firm</h6>
                    {{ profile.current_job }}
                </div>
            {% endif %}
        </div>

        <h6 class="text-header">Licenses</h6>
        <ul class="list">
            <li class="list__item">
                <ul class="list list--condensed">
                    <li class="list__item"><span class="muted">Country:</span> United States</li>
                    <li class="list__item"><span class="muted">State:</span> New York</li>
                    <li class="list__item"><span class="muted">City:</span> New York City</li>
                    <li class="list__item"><span class="muted">Licence Celia Lerman US.png</span></li>
                </ul>
            </li>
        </ul>
    </div>
</section>
