<section class="profile-block">
    <header class="profile-block__header">
        <h2 class="profile-block__title">Educations</h2>
    </header>

    <h6 class="text-header">Educations</h6>
    <ul class="list">
        <li class="list__item">
            <ul class="list list--condensed">
                <li class="list__item"><span class="muted">Name:</span> Drake University School of Law
                </li>
                <li class="list__item"><span class="muted">Degree:</span> Juris Doctorate</li>
                <li class="list__item"><span class="muted">Date of graduation:</span> Apr. 15, 2002</li>
            </ul>
        </li>
    </ul>
</section>
