{% load static %}

<div class="hero">
    <div class="hero__img"></div>
    <div class="hero__avatar">
        <img src="{{ profile.photo_url_or_default }}" alt="">
    </div>
    <div class="hero__names">
        <h1 class="hero__name">{{ profile.full_name }}</h1>
        <h2 class="hero__title">{{ profile.browsing_headline }}</h2>
    </div>

    <div class="hero__location">
        <i class="fas fa-map-marker-alt"></i>
        <span class="muted">
            {% if profile.address.state %}{{ profile.address.state }}, {% endif %}{{ profile.address.country }}
        </span>
    </div>
    <div class="hero__payments-container">
        <div class="c100 p80">
            <span>80%</span>
            <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
            </div>
        </div>
        <div class="hero__payments">
            <span>
                <span class="muted">Total verified: </span>
                $1000
            </span>
            <span>
                <span class="muted">Total unverified: </span>
                $200
            </span>
        </div>
    </div>
    <div class="hero__actions-container">
        <div class="hero__actions">
            <a href="#0" class="btn">Add correspondence</a>
            <a href="#profile-contacts" class="btn btn--outline">Contact</a>
        </div>
    </div>
    <span class="hero__text muted">If you contact this user, we will show you his contact details</span>
</div>
