<div class="sidebar-container" data-sticky-container>
    <nav class="sidebar" data-margin-top="50">
        <ul class="sidebar-list">
            <li class="sidebar-item">
                <a href="#0">
                    <i class="fas fa-fw fa-info"></i> About
                </a>
            </li>
            <li class="sidebar-item" data-active="true">
                <a href="#0">
                    <i class="fas fa-fw fa-list"></i> Professional details
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#0">
                    <i class="fas fa-fw fa-address-card"></i> Contact
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#0">
                    <i class="fas fa-fw fa-rss"></i> Social Media
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#0">
                    <i class="fas fa-fw fa-map-marker-alt"></i> Physical locations
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#0">
                    <i class="fas fa-fw fa-university"></i> Educations
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#0">
                    <i class="fas fa-fw fa-suitcase"></i> Work experience
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#0">
                    <i class="fas fa-fw fa-user-tie"></i> Professional Associations
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#0">
                    <i class="fas fa-fw fa-award"></i> Awards
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#0">
                    <i class="fas fa-fw fa-share-alt"></i> Correspondences
                </a>
            </li>
        </ul>
        <p>
            If you contact this user, we will show you his contact details
        </p>
    </nav>
</div>