{% if profile.workexperience_set.all %}
    <section class="profile-block">
        <header class="profile-block__header">
            <h2 class="profile-block__title">Work experience</h2>
        </header>

        <h6 class="text-header">Experience</h6>
        <ul class="list">
            {% for work_experience in profile.workexperience_set.all %}
                <li class="list__item">
                    <ul class="list list--condensed">
                        <li class="list__item">
                            <span class="muted">Company:</span>
                            {{ work_experience.company_name }}
                        </li>
                        <li class="list__item">
                            <span class="muted">Position:</span>
                            {{ work_experience.position }}
                        </li>
                        <li class="list__item">
                            <span class="muted">Duration:</span>
                            {{ work_experience.duration.lower }} - {{ work_experience.duration.upper }}
                            ({{ work_experience.duration.upper|timeuntil:work_experience.duration.lower }})
                        </li>
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endif %}