<section class="profile-block">
    <header class="profile-block__header">
        <h2 class="profile-block__title">Work experience</h2>
    </header>

    <h6 class="text-header">Experience</h6>
    <ul class="list">
        <li class="list__item">
            <ul class="list list--condensed">
                <li class="list__item"><span class="muted">Company:</span> Lerman & Szlak</li>
                <li class="list__item"><span class="muted">Position:</span> Partner</li>
                <li class="list__item"><span class="muted">Duration:</span> Jan. 22, 2017 — Sep. 15,
                    2019 (2 years, 9 months)
                </li>
            </ul>
        </li>
        <li class="list__item">
            <ul class="list list--condensed">
                <li class="list__item"><span class="muted">Company:</span> Universidad Torcuato Di Tella
                </li>
                <li class="list__item"><span class="muted">Position:</span> Title Adjunct Professor of
                    Law
                </li>
                <li class="list__item"><span class="muted">Duration:</span> Feb. 1, 2010 — Apr. 5, 2016
                    (6 years, 1 month)
                </li>
            </ul>
        </li>
    </ul>
</section>
