@import "material-kit";
@import "~select2/src/scss/core";

.page-header {
  background-image: url('~material-kit/assets/img/city-profile.jpg');
}

.page-header--landing {
  background-image: url('~material-kit/assets/img/profile_city.jpg');
}

.page-header--auth {
  background-image: url('~material-kit/assets/img/bg7.jpg');
  background-size: cover;
  background-position: top center;
}

.photo-form {
  display: none;
}

.card--user a {
  color: inherit;
}

.card-deck .card.card--user {
  flex: 0 0 calc(20% - 30px);
}

.card--user__avatar {
  width: 72px;
  height: 72px;
}

.navbar-photo {
  width: 24px;
  height: 24px;
}

.photo-view {
  max-height: 200px !important;
  max-width: 200px !important;
}

.correspondence-photo {
  max-height: 50px !important;
  max-width: 50px !important;
}

.field {
  margin-top: 20px;
}

select.form-control {
  height: 36px !important;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}


.browsing-li{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  padding-left: 20px;
  padding-right: 20px;
}

.browsing-li:hover {
  color:blue;
  cursor: pointer;
}

.user-relationships{
  padding-left: 0px !important;
  padding-right: 0px !important;
}


.unconfirmed_transaction_alert{
  margin-bottom: 0px !important;
  .alert-link{
    text-decoration: underline;
  }
}

.relationship-card {
  .text-center{
    max-width: 100%;
  }
  .badge{
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
}

div.proof_receipt_requester{
  .btn-file{
    margin-top: 20px !important;
  }
}

.proof-image-container{
  width: 100%;
  img{
    max-width: 100%;
  }
}

.proof-label{
  color: white;
  vertical-align: sub;
}