{% extends 'base.html' %}
{% load static %}

{% block body-class %}landing-page{% endblock %}

{% block content %}
  <div class="page-header header-filter page-header--landing" data-parallax="true">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="title">Find other great attorneys to share work with.</h1>
          <h4>Need correspondent work from other attorneys? Have correspondent work that you need done? Our trust
          network ensures that you can find the perfect correspondent attorney with the exact expertise you need.</h4>
          <br>
          <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" class="btn btn-danger btn-raised btn-lg">
            <i class="fa fa-play"></i> Watch video
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="section text-center">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="title">Get work. Give work.</h2>
            <h5 class="description">Our attorney-only site let's you easily find other great attorneys to work with.
              Get work from them now, and share work with them later.</h5>
          </div>
        </div>
        <div class="features">
          <div class="row">
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-info">
                  <i class="fas fa-user-check"></i>
                </div>
                <h4 class="info-title">Reliable</h4>
                <p>No fake reviews or ratings. Work history is verified, and reviews are secured by affadavits.<p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-success">
                  <i class="fas fa-map-marker-alt"></i>
                </div>
                <h4 class="info-title">Private</h4>
                <p>Only practicing attorneys can join our site, see your profile, or verify your correspondence history
                in our trust network.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-danger">
                  <i class="fas fa-user-friends"></i>
                </div>
                <h4 class="info-title">Grow your clientele</h4>
                <p>If you like, you can publish your profile to our sister site, <a href="http://thehighestbar.com">The
                  Highest Bar</a>, to attract new clients.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}