{% extends 'base.html' %}
{% load static %}

{% block body-class %}profile-page{% endblock %}

{% block content %}
    <div class="page-header header-filter" data-parallax="true"></div>
    <div class="main main-raised">
        <div class="transaction-content">
            <div class="container pb-3">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <div class="transaction">
                            {% if form %}
                                <form class="form-block transcation-form" action="" method="post"
                                      enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="row mb-5">
                                        <h3>Transaction</h3>
                                    </div>
                                    <div class="form-group row">
                                        {{ form.is_requester_principal.label_tag }}
                                        {{ form.is_requester_principal }}
                                        {% for error in form.is_requester_principal.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-form-label">What was the amount of the transaction?</label>
                                        {{ form.amount }}{{ form.currency }}
                                    </div>
                                    <div class="form-group row">
                                        {{ form.requester_review.label_tag }}
                                        <div class="col-md-12">{{ form.requester_review }}</div>
                                        {% for error in form.requester_review.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>
                                    <div class="form-group row">
                                        {{ form.date.label_tag }}
                                        {{ form.date }}
                                        {% for error in form.date.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>
                                    <div class="form-group row proof_receipt_requester">
                                        {{ form.proof_receipt.label_tag }}
                                        <div class="row justify-content-center">
                                            <div class="proof-image-container">
                                            <img src="#" id="id_proof_receipt_requester_image" alt="Transaction Proof"/>
                                            </div>
                                            <span class="btn btn-raised btn-round btn-default btn-file" title="Usually a screenshot of the wire transfer, adding proof expedites the transaction verification process">
                                                <label for="id_proof_receipt" class="proof-label">Select image</label>
                                                {{ form.proof_receipt }}
                                            </span>
                                        </div>
                                        {% for error in form.proof_receipt.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>

                                    <div class="form-group row">
                                        {{ form.requester_recommendation.label_tag }}
                                        {{ form.requester_recommendation }}
                                        {% for error in form.requester_recommendation.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>
                                    <input class="btn btn-primary" type="submit" title="Submit">
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}