{% extends 'base.html' %}

{% block body-class %}profile-page{% endblock %}

{% block content %}
    <div class="page-header header-filter" data-parallax="true"></div>
    <div class="main main-raised">
        <div class="users-list-content">
            <div class="container p-3">
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-light btn-block active jurisdiction-display">
                            <b>Jurisdictions</b>
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-light btn-block law-type-tag-display">
                            <b>Law Type Tags</b>
                        </button>
                    </div>
                </div>
                <div class="row" id="jurisdictions-row">
                    {% for value in jurisdictions %}
                    <div class="col-md-3 browsing-li jurisdiction">
                        <div>{{value.name}}</div>
                        <div>({{value.occurrence}}) ></div>
                        <div></div>
                    </div>
                    {% endfor %}
                </div>
                <div class="row" id="law-type-tag-row" style="display: none">
                    {% for value in law_type_tags %}
                    <div class="col-md-3 browsing-li law-type-tag">
                        <div>{{value.name}}</div>
                        <div>({{value.occurrence}}) ></div>
                        <div></div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="container p-3">
                <div class="card-deck">
                    {% for user in users %}
                        <div class="card card--user">
                            <div class="card-body">
                                <a href="{% url 'profile' user.handle %}">
                                    <img src="{{ user.photo_url_or_default }}"
                                         class="d-block mx-auto card--user__avatar rounded-circle">
                                    <h5 class="card-title my-0 text-center">
                                        {% if user.first_name or user.last_name %}
                                            {{ user.first_name }} {{ user.last_name }}
                                        {% else %}
                                            {{ user.handle }}
                                        {% endif %}
                                    </h5>
                                    <h6 class="my-0 text-center">{{ user.get_jurisdiction_display }}</h6>
                                    <p>
                                        {{ user.headline }}
                                    </p>
                                </a>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted mx-auto">Joined {{ user.date_joined|date:"d M Y" }}</small>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}